altgraph==0.17.4
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
lxml==5.2.2
numpy==2.0.1
packaging==24.1
plum-py==0.8.7
python-dotenv==1.0.1
requests==2.32.3
setuptools==72.2.0
soupsieve==2.5
urllib3==2.2.2